In [489]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [490]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
532,tt0244244,102000000,147080413,Swordfish,John Travolta|Hugh Jackman|Halle Berry|Don Che...,Dominic Sena,Log On. Hack In. Go Anywhere. Get Everything.,Rogue agent Gabriel Shear is determined to get...,99,Action|Crime|Thriller,Village Roadshow Pictures|NPV Entertainment|Si...,6/7/2001,6.0,2001
126,tt1790864,34000000,348319861,The Maze Runner,Dylan O'Brien|Ki Hong Lee|Kaya Scodelario|Aml ...,Wes Ball,Run - Remember - Survive,"Set in a post-apocalyptic world, young Thomas ...",113,Action|Mystery|Science Fiction|Thriller,Ingenious Media|Twentieth Century Fox Film Cor...,9/10/2014,7.0,2014
14,tt2395427,280000000,1405035767,Avengers: Age of Ultron,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,Joss Whedon,A New Age Has Come.,When Tony Stark tries to jumpstart a dormant p...,141,Action|Adventure|Science Fiction,Marvel Studios|Prime Focus|Revolution Sun Studios,4/22/2015,7.4,2015
974,tt1074638,200000000,1108561013,Skyfall,Daniel Craig|Judi Dench|Javier Bardem|Ralph Fi...,Sam Mendes,Think on your sins.,When Bond's latest assignment goes gravely wro...,143,Action|Adventure|Thriller,Columbia Pictures,10/25/2012,6.8,2012
1242,tt2404463,43000000,158674180,The Heat,Sandra Bullock|Melissa McCarthy|DemiÃ¡n Bichir...,Paul Feig,Action's never been so hot!,"Uptight and straight-laced, FBI Special Agent ...",117,Action|Comedy|Crime,Ingenious Film Partners|Ingenious Media|Twenti...,6/27/2013,6.6,2013

In [491]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

In [492]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [493]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

data['profit'] = data['revenue'] - data['budget']
data['genres_listed'] = data["genres"].str.split('|').tolist()
data['pixel'] = 1
data['month'] = data['release_date'].apply(lambda s:s.split('/')[0])
data['name_lenght'] = data['original_title'].apply(lambda x:len(x)-x.count(' '))
data['overview_word_count'] = data['overview'].apply(lambda s:len(s.split(' ')))

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [494]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
# answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [495]:
# тут пишем ваш код для решения данного вопроса:

answers['1'] = (data[['original_title','imdb_id','budget']].sort_values('budget',ascending = False).head(1))
display(answers['1'])

                                  original_title    imdb_id     budget
723  Pirates of the Caribbean: On Stranger Tides  tt1298650  380000000

ВАРИАНТ 2

In [496]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [497]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать

In [498]:

answers['2'] = (data[['original_title','imdb_id','runtime']].sort_values('runtime',ascending = False).head(1))
display(answers['2'])

         original_title    imdb_id  runtime
1157  Gods and Generals  tt0279111      214

# 3. Какой из фильмов самый короткий (в минутах)?

In [499]:
answers['3'] = (data[['original_title','imdb_id','runtime']].sort_values('runtime',ascending = True).head(1))
display(answers['3'])

      original_title    imdb_id  runtime
768  Winnie the Pooh  tt1449283       63

# 4. Какова средняя длительность фильмов?

In [500]:
answers['4'] = data['runtime'].mean()
answers['4']

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [501]:
answers['5'] = data['runtime'].median()
answers['5']

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [502]:
# лучше код получения столбца profit вынести в Предобработку что в начале

answers['6'] = data[['original_title','imdb_id','profit']].sort_values('profit',ascending = False).head(1)
display(answers['6'])

    original_title    imdb_id      profit
239         Avatar  tt0499549  2544505847

# 7. Какой фильм самый убыточный?

In [503]:
answers['7'] = (data[['original_title','imdb_id','profit']].sort_values('profit',ascending = True).head(1))
display(answers['7'])

       original_title    imdb_id     profit
1245  The Lone Ranger  tt1210819 -165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [504]:
answers['8'] = len(data[data['profit'] > 0])
display(answers['8'])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [505]:

answers['9'] = data[data['release_year'] == 2008][['original_title','imdb_id','revenue','release_year']].sort_values('revenue',ascending = False).head(1)
display(answers['9'])

      original_title    imdb_id     revenue  release_year
599  The Dark Knight  tt0468569  1001921825          2008

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [506]:
answers['10'] = data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)][['original_title','imdb_id','profit','release_year']].sort_values('profit',ascending = True).head(1)
display(answers['10'])

       original_title    imdb_id     profit  release_year
1245  The Lone Ranger  tt1210819 -165710090          2013

# 11. Какого жанра фильмов больше всего?

In [507]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

genres_count = {}
for genres_list in data['genres_listed']:
    for item in genres_list:
        if item in genres_count:
            genres_count[item] += 1
        else:
            genres_count[item] = 1

answers['11'] = max(genres_count, key=genres_count.get)

display(answers['11'])

'Drama'

ВАРИАНТ 2

In [508]:
answers['11'] = pd.DataFrame(data['genres'].str.split('|').tolist(), data['pixel']).stack().value_counts().head(1)
display(answers['11'])

Drama    782
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [509]:
data_profit = data[data['profit'] > data['profit'].mean()]

genres_count = {}
for genres_list in data_profit['genres_listed']:
    for item in genres_list:
        if item in genres_count:
            genres_count[item] += 1
        else:
            genres_count[item] = 1

answers['12'] = pd.Series(genres_count).sort_values(ascending=False).head(1)
display(answers['12'])

Action    214
dtype: int64

Вариант 2

In [510]:
data_profit = data[data['profit'] > data['profit'].mean()]
answers['12'] = pd.DataFrame(data_profit['genres'].str.split('|').tolist(), data_profit['pixel']).stack().value_counts().head(1)
display(answers['12'])

Action    214
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [511]:
answers['13'] = data.groupby(by = 'director')['revenue'].sum().sort_values(ascending=False).head(1)
display(answers['13'])

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [512]:
answers['14'] = data[data['genres'].str.contains("Action", na=False)].groupby(by = 'director')['pixel'].sum().sort_values(ascending=False)
display(answers['14'])

director
Michael Bay           7
Paul W.S. Anderson    7
Robert Rodriguez      6
Ridley Scott          6
Antoine Fuqua         6
                     ..
Les Mayfield          1
Kurt Wimmer           1
Kevin Smith           1
Kevin Macdonald       1
Adam McKay            1
Name: pixel, Length: 345, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [513]:
df = data[data['release_year'] == 2012]

count = Counter()
for i in range(0,len(df)):
    for k in df.iloc[i]['cast'].split('|'):
        count[k] += df.iloc[i]['profit']

answers['15'] = count.most_common()[0]
display(answers['15'])

('Chris Hemsworth', 1542450773)

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [514]:
high_budget_films = data[data['budget'] >= data['budget'].median()]
answers['16'] = pd.DataFrame(high_budget_films['cast'].str.split('|').tolist(), high_budget_films['budget']).stack().value_counts().head(1)
display(answers['16'])

Matt Damon    23
dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [515]:
df = data[data['cast'].str.contains('Nicolas Cage', na=False)]


genres_count = {}
for genres_list in df['genres_listed']:
    for item in genres_list:
        if item in genres_count:
            genres_count[item] += 1
        else:
            genres_count[item] = 1

            
answers['17'] = pd.Series(genres_count).sort_values(ascending=False).head(1)
display(answers['17'])

Action    17
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [516]:
answers['18'] = data[data['production_companies'].str.contains('Paramount Pictures', na=False)][['original_title','production_companies','profit']].sort_values('profit', ascending=True).head(1)
display(answers['18'])

,original_title,production_companies,profit
925,K-19: The Widowmaker,Paramount Pictures|Intermedia Films|National G...,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [517]:
answers['19'] = data.groupby('release_year')['revenue'].sum().sort_values(ascending=False).head(1)
display(answers['19'])

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [518]:
answers['20'] = data[data['production_companies'].str.contains("Warner Bros", na=False)].groupby('release_year')['profit'].sum().sort_values(ascending=False).head(1)
display(answers['20'])

release_year
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [519]:
answers['21'] = data.groupby('month')['pixel'].sum().sort_values(ascending=False).head(1)
display(answers['21'])

month
9    227
Name: pixel, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [520]:
answers['22'] = data.query("month in ['6','7','8']").groupby('month')['pixel'].sum().sum()
display(answers['22'])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [521]:
answers['23'] = data.query("month in ['12','1','2']").groupby('director')['pixel'].sum().sort_values(ascending=False).head(1)
display(answers['23'])

director
Peter Jackson    7
Name: pixel, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [522]:
answers['24'] = data[data['name_lenght'] == data['name_lenght'].max()]['production_companies'].str.split('|')
display(answers['24'].values)

array([list(['Twentieth Century Fox Film Corporation', 'Four By Two Productions'])],
      dtype=object)

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [523]:
answers['25'] = data[data['overview_word_count'] > data['overview_word_count'].mean()][['production_companies','overview_word_count']].sort_values('overview_word_count',ascending=False).head(1)
display(answers['25'].values)

array([['Lions Gate Films|Lakeshore Entertainment|GreeneStreet Films|Midnight Picture Show',
        175]], dtype=object)

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [524]:
answers['26'] = data[data['vote_average'] > data['vote_average'].quantile(0.99)][['original_title','imdb_id','vote_average']].sort_values('vote_average', ascending=False)
display(answers['26'])

                                     original_title    imdb_id  vote_average
599                                 The Dark Knight  tt0468569           8.1
9                                        Inside Out  tt2096673           8.0
34                                             Room  tt3170832           8.0
118                                    Interstellar  tt0816692           8.0
125                              The Imitation Game  tt2084970           8.0
119                         Guardians of the Galaxy  tt2015381           7.9
128                                       Gone Girl  tt2267998           7.9
138                        The Grand Budapest Hotel  tt2278388           7.9
370                                       Inception  tt1375666           7.9
872                                     The Pianist  tt0253474           7.9
1081  The Lord of the Rings: The Return of the King  tt0167260           7.9
1183                        The Wolf of Wall Street  tt0993846           7.9
1191                               12 Years a Slave  tt2024544           7.9
1800                                        Memento  tt0209144           7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [525]:
from itertools import combinations
actor_list = data.cast.str.split('|').tolist()
combo_list=[]
for i in actor_list:
    for j in combinations(i, 2):
        combo_list.append(' '.join(j))
combo_list = pd.DataFrame(combo_list)
combo_list.columns = ['actor_combinations']
answers['27'] = combo_list.actor_combinations.value_counts()
display(answers['27'])

Daniel Radcliffe Emma Watson        8
Daniel Radcliffe Rupert Grint       8
Rupert Grint Emma Watson            7
Johnny Depp Helena Bonham Carter    6
Ben Stiller Owen Wilson             6
                                   ..
Laurence Fishburne Gabriel Byrne    1
Joanna Gleason Lou Myers            1
Maggie Gyllenhaal Jay Hernandez     1
Quinton Aaron Jae Head              1
Bruce Willis Jai Courtney           1
Name: actor_combinations, Length: 18121, dtype: int64

# Submission

In [526]:
# в конце можно посмотреть свои ответы к каждому вопросу
display(answers)

{'1':                                   original_title    imdb_id     budget
 723  Pirates of the Caribbean: On Stranger Tides  tt1298650  380000000,
 '2':          original_title    imdb_id  runtime
 1157  Gods and Generals  tt0279111      214,
 '3':       original_title    imdb_id  runtime
 768  Winnie the Pooh  tt1449283       63,
 '4': 109.6585494970884,
 '5': 107.0,
 '6':     original_title    imdb_id      profit
 239         Avatar  tt0499549  2544505847,
 '7':        original_title    imdb_id     profit
 1245  The Lone Ranger  tt1210819 -165710090,
 '8': 1478,
 '9':       original_title    imdb_id     revenue  release_year
 599  The Dark Knight  tt0468569  1001921825          2008,
 '10':        original_title    imdb_id     profit  release_year
 1245  The Lone Ranger  tt1210819 -165710090          2013,
 '11': Drama    782
 dtype: int64,
 '12': Action    214
 dtype: int64,
 '13': director
 Peter Jackson    6490593685
 Name: revenue, dtype: int64,
 '14': director
 Michael Bay           7
 Paul W.S. Anderson    7
 Robert Rodriguez      6
 Ridley Scott          6
 Antoine Fuqua         6
                      ..
 Les Mayfield          1
 Kurt Wimmer           1
 Kevin Smith           1
 Kevin Macdonald       1
 Adam McKay            1
 Name: pixel, Length: 345, dtype: int64,
 '15': ('Chris Hemsworth', 1542450773),
 '16': Matt Damon    23
 dtype: int64,
 '17': Action    17
 dtype: int64,
 '18':            original_title                               production_companies  \
 925  K-19: The Widowmaker  Paramount Pictures|Intermedia Films|National G...

        profit
 925 -64831034  ,
 '19': release_year
 2015    25449202382
 Name: revenue, dtype: int64,
 '20': release_year
 2014    2295464519
 Name: profit, dtype: int64,
 '21': month
 9    227
 Name: pixel, dtype: int64,
 '22': 450,
 '23': director
 Peter Jackson    7
 Name: pixel, dtype: int64,
 '24': 1448    [Twentieth Century Fox Film Corporation, Four ...
 Name: production_companies, dtype: object,
 '25':                                   production_companies  overview_word_count
 711  Lions Gate Films|Lakeshore Entertainment|Green...                  175,
 '26':                                      original_title    imdb_id  vote_average
 599                                 The Dark Knight  tt0468569           8.1
 9                                        Inside Out  tt2096673           8.0
 34                                             Room  tt3170832           8.0
 118                                    Interstellar  tt0816692           8.0
 125                              The Imitation Game  tt2084970           8.0
 119                         Guardians of the Galaxy  tt2015381           7.9
 128                                       Gone Girl  tt2267998           7.9
 138                        The Grand Budapest Hotel  tt2278388           7.9
 370                                       Inception  tt1375666           7.9
 872                                     The Pianist  tt0253474           7.9
 1081  The Lord of the Rings: The Return of the King  tt0167260           7.9
 1183                        The Wolf of Wall Street  tt0993846           7.9
 1191                               12 Years a Slave  tt2024544           7.9
 1800                                        Memento  tt0209144           7.9,
 '27': Daniel Radcliffe Emma Watson        8
 Daniel Radcliffe Rupert Grint       8
 Rupert Grint Emma Watson            7
 Johnny Depp Helena Bonham Carter    6
 Ben Stiller Owen Wilson             6
                                    ..
 Laurence Fishburne Gabriel Byrne    1
 Joanna Gleason Lou Myers            1
 Maggie Gyllenhaal Jay Hernandez     1
 Quinton Aaron Jae Head              1
 Bruce Willis Jai Courtney           1
 Name: actor_combinations, Length: 18121, dtype: int64}

In [527]:
# и убедиться что ни чего не пропустил)
len(answers)

27